<div class="social-section">
  <div class="social-links">
    <a href="https://www.instagram.com/lepiej.agencja/" target="_blank" rel="noopener noreferrer" class="social-link instagram"
      aria-label="Instagram">
      <img src="{{ "/assets/utility/instagram.png" | relURL }}" alt="Instagram">
    </a>
    <a href="https://www.tiktok.com/@lepiej.socialmedia" target="_blank" rel="noopener noreferrer" class="social-link tiktok"
      aria-label="TikTok">
      <img src="{{ "/assets/utility/tik-tok.png" | relURL }}" alt="TikTok">
    </a>
  </div>
</div>
