:root {
  --primary: #9E0031;
  --primary-rgb: 158, 0, 49;
  --primary-dark: #8F002D;
  --secondary: #BEDAE6;

  --black: #010102;
  --black-rgb: 1, 1, 2;
  --white: #fff;
  --white-rgb: 255, 255, 255;

  --font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --serif-font-family: 'OldStandard TT', "Times New Roman", Georgia, "Palatino Linotype", Palatino, serif;
  --font-size: 14px;

  --button-border: 1px solid rgba(var(--black-rgb), 0.3);
  --button-radius: 16px;
}